<div class="alert alert-block alert-info">
<b>Yahoo Finance</b> : Input Ticker
</div>

In [1]:
import pandas
import pandas_datareader as pdr
import numpy as np
from datetime import datetime

sd = datetime(2020, 12, 25)
ed = datetime(2020, 12, 25)

vfx = pdr.get_data_yahoo(symbols='VFINX', start=sd, end=ed)["Adj Close"]
#vix = pdr.get_data_yahoo(symbols='^vix', start=sd, end=ed)["Adj Close"]
spx = pdr.get_data_yahoo(symbols='^SP500TR', start=sd, end=ed)["Adj Close"]
vbx = pdr.get_data_yahoo(symbols='VBMFX', start=sd, end=ed)["Adj Close"]
vmt = pdr.get_data_yahoo(symbols='VMOT', start=sd, end=ed)["Adj Close"]

rwm = pdr.get_data_yahoo(symbols='RWM', start=sd, end=ed)["Adj Close"]
dog = pdr.get_data_yahoo(symbols='DOG', start=sd, end=ed)["Adj Close"]
psh = pdr.get_data_yahoo(symbols='SH', start=sd, end=ed)["Adj Close"]

In [2]:
bnp = pandas.concat([vfx,vbx,vmt,rwm,dog,psh,spx], axis=1)
print(bnp)
bnp = bnp.sort_values(by="Date",ascending=True)
bnp.head(80)

             Adj Close  Adj Close  Adj Close  Adj Close  Adj Close  Adj Close  \
Date
2020-12-24  341.649994       11.6  26.168200      25.07  39.700001  18.209999
2020-12-24  341.649994       11.6  26.167999      25.07  39.700001  18.209999

              Adj Close
Date
2020-12-24  7648.390137
2020-12-24  7648.390137

,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close
Date,,,,,,,
2020-12-24,341.649994,11.6,26.168200,25.07,39.700001,18.209999,7648.390137
2020-12-24,341.649994,11.6,26.167999,25.07,39.700001,18.209999,7648.390137

In [3]:
bnp.to_csv('ONCE_PRED.csv')

<div class="alert alert-block alert-info">
<b>News</b> : FX Crawler
</div>

In [22]:
import pandas
dfs = pandas.read_html('https://rate.bot.com.tw/xrt/quote/l6m/JPY')

In [23]:
df = dfs[0].iloc[:,0:6]
df.columns = ['掛牌日期', '幣別', '現金匯率買入','現金匯率賣出', '即期匯率買入','即期匯率賣出']

In [24]:
df.head()

         掛牌日期        幣別  現金匯率買入  現金匯率賣出  即期匯率買入  即期匯率賣出
0  2020/10/08  日圓 (JPY)  0.2638  0.2766  0.2711  0.2751
1  2020/10/07  日圓 (JPY)  0.2640  0.2768  0.2713  0.2753
2  2020/10/06  日圓 (JPY)  0.2647  0.2775  0.2720  0.2760
3  2020/10/05  日圓 (JPY)  0.2653  0.2781  0.2726  0.2766
4  2020/09/30  日圓 (JPY)  0.2663  0.2791  0.2736  0.2776

<div class="alert alert-block alert-info">
<b>News</b> : News Crawler (LTN)
</div>

In [1]:
import requests
res = requests.get('https://news.ltn.com.tw/list/breakingnews')

In [38]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'lxml')

In [39]:
newsary = []
for li in soup.select('ul.list li'):
  #print(li)
  title = li.select_one('.title').text
  dt = li.select_one('.time').text
  link = li.select_one('a').get('href')
  newsary.append({'title':title, 'time': dt, 'link':link})

In [41]:
import pandas
newsdf = pandas.DataFrame(newsary)
newsdf.head()

,title,time,link
0,法網》喬帥愛妻觀戰不戴好口罩 再度慘遭各界痛批,18:57,https://sports.ltn.com.tw/news/breakingnews/33...
1,鹽水硬質玉米發芽率慘 陳吉仲：查報現金救助 契作獎勵金照發,18:55,https://news.ltn.com.tw/news/life/breakingnews...
2,中職Live》張進德適時二壘安 富邦5：1桃猿,18:50,https://sports.ltn.com.tw/news/breakingnews/33...
3,中職Live》林靖凱棒打米蘭達扳平戰局 獅1：1象,18:50,https://sports.ltn.com.tw/news/breakingnews/33...
4,中職》江坤宇右大腿輕微緊繃 5局上退場休息,18:49,https://sports.ltn.com.tw/news/breakingnews/33...

In [42]:
import requests
res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/4')
jd = res.json()
import pandas
df = pandas.DataFrame(jd['data'].values())
import time
newsary = []
for i in range(2,5):
  res = requests.get('https://news.ltn.com.tw/ajax/breakingnews/all/{}'.format(i))
  time.sleep(2)
  #print(res.json())
  jd = res.json()
  df = pandas.DataFrame(jd['data'].values())
  newsary.append(df)

In [43]:
newsdf = pandas.concat(newsary)

In [44]:
newsdf.head()

,no,title,bigphoto_flag,photo_S,photo_L,url,time,type_en,group,type_cn,local,summary,video,localUrl,tagUrl,style,tagText
0,3317434,日職》陳冠宇連4場出賽未失分 羅德不敵軟銀無緣登頂,0,http://img.ltn.com.tw/Upload/sports/page/400S/...,http://img.ltn.com.tw/Upload/sports/page/800S/...,https://sports.ltn.com.tw/news/breakingnews/33...,18:15,sports,breakingnews,體育,False,\n羅德今在客場對戰軟銀，台灣左投陳冠宇中繼1局無失分，防禦率再降至3.52，羅德終場以1：...,0,,list/breakingnews/sports,None,體育
1,3317490,噴淚！蔡英文國慶日引用他歌詞 釣出歌王：謝謝總統,0,http://img.ltn.com.tw/Upload/ent/page/400S/202...,http://img.ltn.com.tw/Upload/ent/page/800S/202...,https://ent.ltn.com.tw/news/breakingnews/3317490,18:13,entertainment,breakingnews,娛樂,False,總統蔡英文今（10）天在國慶日發表演說，特別引用了台語歌王謝銘祐創作的《路》歌詞，以台語「有...,0,,list/breakingnews/entertainment,None,娛樂
2,3317440,再出賣辦公室正妹「腰瘦」助理 鄭運鵬：幫忙衝流量！,0,http://img.ltn.com.tw/Upload/news/250/2020/10/...,http://img.ltn.com.tw/Upload/news/600/2020/10/...,https://news.ltn.com.tw/news/life/breakingnews...,18:13,life,breakingnews,生活,False,民進黨立委鄭運鵬擁有許多年輕粉絲，上月10日他在臉書分享自己蘆竹服務中心的正妹助理照片，笑稱...,0,,list/breakingnews/life,None,生活
3,3317443,畜牧糞尿變黃金！資源化為國庫省758億,0,http://img.ltn.com.tw/Upload/news/250/2020/10/...,http://img.ltn.com.tw/Upload/news/600/2020/10/...,https://news.ltn.com.tw/news/life/breakingnews...,18:11,life,breakingnews,生活,False,我國養豬頭數達551萬頭、養牛頭數達15.2萬頭，是國內重要的糧食產業，但是畜牧產生的糞尿不...,0,,list/breakingnews/life,None,生活
4,3317505,自由限時批》堅韌的民主台灣 永續經營,0,http://img.ltn.com.tw/Upload/talk/page/400S/20...,http://img.ltn.com.tw/Upload/talk/page/800S/20...,https://talk.ltn.com.tw/article/breakingnews/3...,18:11,opinion,breakingnews,評論,False,陳峯 \n2020這一年，可說是驚濤駭浪，國內外至今仍是面臨險峻的局勢，但民主台灣卻能不憂不...,0,,list/breakingnews/opinion,None,評論

<div class="alert alert-block alert-info">
<b>News</b> : Info Crawler (EPS from TWSE)
</div>

In [49]:
import requests
payload = {
  'encodeURIComponent': '1',
  'step': '1',
  'firstin': '1',
  'TYPEK': 'sii',
  'year': '109',
  'season': '01'    
}

url = 'https://mops.twse.com.tw/mops/web/ajax_t163sb19'

res = requests.post(url, data = payload)

In [50]:
import pandas
dfs = pandas.read_html(res.text)
df = dfs[0]
df[df['產業別'] != '加權平均數']

,公司代號,公司名稱,產業別,基本每股盈餘(元),普通股每股面額,營業收入,營業利益,營業外收入及支出,稅後淨利
0,1101,台灣水泥股份有限公司,水泥工業,0.55,新台幣 10.0000元,21976200.0,4460154.0,273722.0,3481119.0
1,1109,信大水泥股份有限公司,水泥工業,0.27,新台幣 10.0000元,1165580.0,217284.0,-29077.0,137170.0
2,1102,亞洲水泥股份有限公司,水泥工業,0.24,新台幣 10.0000元,13138882.0,2021639.0,-453351.0,1130599.0
3,1108,幸福水泥股份有限公司,水泥工業,0.23,新台幣 10.0000元,1104720.0,110132.0,-5836.0,93609.0
4,1104,環球水泥股份有限公司,水泥工業,0.07,新台幣 10.0000元,1253758.0,67425.0,-16843.0,48161.0
6,1110,東南水泥股份有限公司,水泥工業,-0.05,新台幣 10.0000元,387944.0,-12597.0,-17552.0,-30941.0
7,1103,嘉新水泥股份有限公司,水泥工業,-0.33,新台幣 10.0000元,495334.0,-158911.0,-46824.0,-214194.0